body {
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 100px auto 0px auto;
    font-size: 3.125rem;
    color: #66BFBF;
}
h2 {
     font-family: 'Dongle', sans-serif;
     font-size: 2.5rem;
     font-weight: normal;
     color: #66BFBF;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #00BFFF;
}
p {
    line-height: 2;
}
footer {
    margin-top: 30px;
    background-color: #66BFBF;
    height: 50px;
    padding: 30px;
}
/************ CLASS SELECTORS *************/
.intro {
    height: 300px;
    padding: 20px;
    background-image: url("./images/iceland.jpg")
}
.profile {
    padding: 10px 0 0 0;
}
.description{
    color: #40514E;
    width: 25%;
    margin: auto;
}
.profile img {
    border-radius: 50%;
}
.dots{
    width: 10%;
    border: 6px dotted #4682B4;
    border-bottom: none;
    margin: 60px auto 60px auto;
}
.left_line {
    width: 5%;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #66BFBF;
}
.right_line {
    width: 5%;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #66BFBF;
}
.left_line_cv {
    width: 5%;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    float: left;
    background-color: #66BFBF;
}
.right_line_cv {
    width: 5%;
    top:0;
    right: 0;
    bottom: 0;
    position: fixed;
    float: right;
    background-color: #66BFBF;
}
@media
only screen and (max-width: 730px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{
    .left_line, .right_line, .left_line_cv, .right_line_cv {display:none}
}
.skill-row{
    width: 50%;
    height: 250px;
    margin:50px auto 50px auto;
    text-align:left;
    line-height: 2;
}
.code {
    width: 25%;
    float:left;
    margin-right: 30px;
}
.code-img {
    width: 100%;
}
.puzzle {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.puzzle-img {
    width: 100%;
}
.tag1 {
    font-size: 10px;
}

.tag2 {
    font-size: 10px;
}

.contact-msg {
    width: 30%;
    margin: 40px auto 60px;
}
.btn {
  background: #34d9c3;
  background-image: -webkit-linear-gradient(top, #34d9c3, #2bb3b8);
  background-image: -moz-linear-gradient(top, #34d9c3, #2bb3b8);
  background-image: -ms-linear-gradient(top, #34d9c3, #2bb3b8);
  background-image: -o-linear-gradient(top, #34d9c3, #2bb3b8);
  background-image: linear-gradient(to bottom, #34d9c3, #2bb3b8);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  text-shadow: 0px 1px 3px #e336e3;
  font-family: 'Montserrat', sans-serif;
  color: #f0faf8;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #117060 2px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}
.footer-link:hover {
    color: #EAF6F6;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
}
